version: '3.6'
volumes: 
  portainer_data: {}
networks:
  # docker network create public
  public:
    external: true
services:
  traefik:
    image: traefik:alpine
    container_name: traefik
    restart: always
    ports:
      - "80:80"
      - "443:443"
    networks:
      - public
      - default
    volumes: 
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.toml:/etc/traefik/traefik.toml
      - ./acme.json:/etc/traefik/acme.json
    labels:
      - "traefik.enable=true"
      - "traefik.backend=traefik"
      - "traefik.frontend.rule=Host:traefik.localtest.me"
      - "traefik.port=8080"
  portainer:
    image: portainer/portainer
    container_name: portainer
    restart: always
    command: -H unix:///var/run/docker.sock
    ports:
      - "9000:9000"
    networks:
      - public
      - default
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    labels:
      - "traefik.enable=true"
      - "traefik.backend=portainer"
      - "traefik.frontend.rule=Host:portainer.localtest.me"
      - "traefik.port=9000"
